.App {
  width: 100vw;
  min-height: 100vh;
}

.nav {
  font-size: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: white;
  background-color: black;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.profile {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
}